<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.2.24" targetFramework="net451" />
  <package id="DynamicData.EFCodeFirstProvider" version="0.5.1.0" targetFramework="net451" />
  <package id="DynamicDataTemplatesCS" version="1.0.1" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="LinqKit" version="1.1.1" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="QUnit-MVC" version="1.6.2.0" targetFramework="net451" />
</packages>